@charset "ISO-8859-1";


.container {
  max-width: 1280px;
    margin: auto;
    width: 100%;
    border: solid rgba(1, 228, 209, 0.671);
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.attori-content{
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
    gap: 1.45rem;
  
}

section{
  padding: 3rem 0 2rem;
}

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  border: 1px solid #fff;
}
.card {
  height: auto;
  width: auto;
  /*background: #808080;*/
  border-radius: 5px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.attore-card {
  border-radius: 5px;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  box-shadow: rgb(0 0 0) 0px 16px 10px -10px;
  
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.attore-card img {  
  transform-origin: left;
  transition:transform .7s ease-out;
}


.attore-card:hover img{
  transform:scale(1.8) ;
  transform-origin:left;
  transition-timing-function: .7s ease-out;
  
}

.attore-card:hover{
  border: 2px solid #fff;
}

.attore-card-img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.attore-card .box-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 14px;
  background: linear-gradient(
    8deg,
    hsl(240 17% 14%/74%) 14%,
    hsl(240 17% 14%/14%) 44%
  );
  overflow: hidden;
}

.attore-name{
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
}

